.DS_Store
.idea

dsa_priv.pem

build/*
*.pbxuser
*.mode1v3
*.mode2v3
!default.pbxuser
!default.mode1v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.xcworkspace
!default.xcworkspace

*.xcodeproj/xcuserdata
xcuserdata
profile

*.moved-aside
DerivedData
